* {
    box-sizing: border-box;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
}

.client-issue-description {
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;
}